* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.first, .fourth {
    background-color: #1F2937;
    color: white;
    padding: 0 200px;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-bottom: 200px;
}

.second {
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-text, .hero-img {
    flex: 1;
    align-self: stretch;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.hero-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-text button {
    align-self: flex-start;
    margin-top: 10px;
}

.hero-text button {
    background: #3882f6;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 10px 15px;
}

.hero-img img {
    height: 100%;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero p {
    margin: 0;
}

.header h3 {
    font-size: 24px;
}

.header-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

.second h3 {
    margin: 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.second .img-card-master {
    display: flex;
    gap: 10px;
}

.img-card {
    width: 200px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.card, .img-card p {
    flex-basis: 100%;
}

.card {
    border: 2px solid #E5E7EB;
    border-radius: 20px;
    height: 200px;
}

.img-card p {
    margin: 0;
}